.background{
    background-color: #000000;
    color: #ffffff;
    height: 10vh;
    font-size: 1vw;
}

.navLink{    
    padding-top: 3vh;
}

.login{
    padding-top: 2.5vh;
}

.btn{
    width: 80%;
    font-size: 1vw;
    background-color: #7894ff;
    color: white;
}

.navLink:hover{
    color: #ff5900;
    cursor: pointer;
}