@import "../../../styles.scss";

.background{
    background-color: $primary-color;
    color: #ffffff;
    height: 10vh;
    font-size: 1.3vw;
}

.navLink{    
    padding-top: 3vh;
}

.login{
    padding-top: 2.5vh;
}

.btn{
    width: 80%;
    font-size: 1.3vw;
    background-color: $secondary-color;
    color: white;
}

.navLink:hover{
    color: $secondary-color;
    cursor: pointer;
}