<div class="background">
    <div class="row text-center">
        <div class="col-md-3 navLink">
            <div class="input-group-addon facebook-icon">
                <fa-icon [icon]="faChat" class="social-media-icons-facebook"></fa-icon> Asistente
            </div>
        </div>
        <div class="col-md-3 navLink">
            <div class="input-group-addon facebook-icon">
                <fa-icon [icon]="faHouse" class="social-media-icons-facebook"></fa-icon> Publicaciones
            </div>
        </div>
        <div class="col-md-3 navLink">
            <div class="input-group-addon facebook-icon">
                <fa-icon [icon]="faHeadset" class="social-media-icons-facebook"></fa-icon> Información
            </div>
        </div>
        <div class="col-md-3 login">
            <button class="btn">Iniciar Sesión</button>
        </div>
    </div>
</div>