@import "../../../../styles.scss";
.card{
    margin-top: 20vh;
    border-color: $secondary-color;    
}

.card-title{
    color: $secondary-color;
}

.btn-primary{
    background-color: $secondary-color;
    border: none;
    font-size: 1.2rem;
}

input{
    width: 80%;
}