nb-card {
    margin-bottom: 0px;
    height: 100%;
}

.auth-block {
    display: block;
    max-width: 35rem;
    margin: auto;
}

.action-Link {
    cursor: pointer;
    text-decoration: none;
}

.img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 18rem;
    margin: auto;
}

.card{
    margin-top: 20vh;
    border-color: #00778A;    
}

.card-title{
    color: #00778A;
}

.btn-primary{
    background-color: #00778A;
    border: none;
    font-size: 1.2rem;
}

input{
    width: 80%;
}