@import "../../../../styles.scss";

.backgroud {
    background-color: whitesmoke;
    min-height: 90vh;
    width: 100%;
}

.initButton {
    width: 80%;
    background-color: #d90d0a;
    color: white;
    font-size: 3vh;
    height: 6vh;
    border-radius: 40px;
}


.aling-left{
    float: left;
}

.aling-right{
    float: right;
}

.assitant-chat{
    border: 5px #d90d0a solid;
    color: black;
    padding: 1vw ;
    font-size: 1vw;
    border-radius: 0px 20px 20px 20px;
    width: 50%;
}

.persons-chat{    
    border: 5px #d90d0a solid;
    color: black;
    padding: 1vw ;
    font-size: 1vw;
    border-radius: 20px 0px 20px 20px;
}

.emergency-type-icons{
    font-size: 1.5vw;
}

.emergency-button{
    margin: 0 0.75vw;
    width: 5vw;
    height: 5vw;    
}

.emergency-button:hover{
    background-color: $secondary-color;
    color: white;
}

agm-map {
    height: 30vh;
    width: 40vw;
}

.get-phone-number{
    padding-top: 30vh;
}

.btn{
    width: 100%;
    font-size: 1.3vw;
    background-color: $secondary-color;
    color: white;
}

input{
    border: none;
    width: 100%;
    border-bottom: 2px solid $secondary-color;
}

.row{
    padding-bottom: 2vh;
}
